<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover"">
    <title>Simple Chat App 2</title>
    <script src="./index.js" defer></script>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="website-header">
        <div class="brand-container">
            <img src="./images/logo.svg"/>
            <h1 class="brand-title">The Chat Corner</h1>
        </div>
        <input id="username-input" class="centered-input" type="text" title="Username Input" placeholder="Username">
    </header>
    <div class="chat-container">
        <div id="message-output">
        </div>
        <div class="submission-area">
            <div class="submission-widget">
                <textarea id="message-input" name="Message Input" placeholder="Message The Corner" cols="30" rows="10"></textarea>
                <button id="send-button">Send</button>
            </div>
        </div>
    </div>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Chat Corner</title>
    <script src="./index.js" defer></script>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="message-output">
        
    </div>
    <div class="panel">
        <input id="username-input" type="text" placeholder="Username">
        <textarea id="message-input" name="Message" id="" cols="300" rows="5" placeholder="Your Message"></textarea>
        <button id="send-button">Send</button>
    </div>
</body>
</html> -->