body {
    background-color: black;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
body div {
    display: inline-block;
}

input, textarea, button {
    background: rgb(238, 230, 218);
}

#message-output {
    padding: 10px;
    background-color: papayawhip;
    flex-grow: 1;
    overflow-y: scroll;
    font-size: x-large;
}

.panel {
    background-color: rgb(133, 120, 101);
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}

#message-input {
    resize: none;
}

#username-input {
    max-width: 300px;
    min-width: 65px;
}
